*.log
*.rpt

#Simulate
*.fsdb
*.vdb
simv
novas.*
ucli.key
*.vcd
*.mem
*.txt

#MacOS
.DS_Store*

#Synthesize
*.svf
alib*/
report/
work/
output/

#Spyglass
spyglass/

#macro
macro/

#Vim Swap Files
*.swp

!requirements.txt
